<html>
  <head>
      <title>Blog Marli</title>
    </head>

    <h1>Dzieje się! Moja strona zadziałała!</h1>
    <h2>Oczywiście po drodze napotkałam 123456765432 błędow..</h2>
    <body>
      <strong>JESTEM SZCZĘŚLIWA</strong>
      <br />
      <h6>Mozesz przejsc na facebooka, jeśli chcesz: </h6>
      <a href= "https://www.facebook.com/">link </a>

      {% for post in posts %}
        <div>
        <p>published: {{post.published_date}} </p>
        <h1> <a href=""> {{ post.title }} </a> </h1>
        <p> {{post.text|linebreaks }} </p>
        </div>
      {% endfor %}

    </body>
</html>
